.signin-body {
    background-image: url('../../assets/img/authBackground.png');
    background-position: center;
    background-size: cover;
    position: fixed;
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signin-container {
    width: 300px;
    height: 380px;
    background-color: rgba(0,0,0,0);
    border-radius: 10px;
    border: solid 5px #D9D9D9;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.signin-container>h2 {
    color: #D9D9D9;
    font-family: 'OpenSans_light';
    font-weight: lighter;
    margin: 0px;
    font-size: 23pt;
    position: relative;
    right: 5px;
    width: 100%;
}
.signin-input-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
}
.signin-input-container>h3 {
    color: #D9D9D9;
    font-family: 'OpenSans_light';
    font-weight: lighter;
    font-size: 15pt;
    margin: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
}
.signin-input-container>input {
    height: 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-family: 'OpenSans_light';
    padding-left: 10px;
    font-size: 12 pt;
}
.signin-but-showPass {
    background-color: rgba(0,0,0,0);
    border: none;
    outline: none;
    color: #D9D9D9;
    font-family: 'OpenSans_light';
    width: 120px;
    margin-top: 5px;
    transition: 0.3s;
    text-align: left;
}
.signin-but-showPass:hover {
    color: #aaaaaa;
}
.signin-but-forgotPass {
    font-family: 'OpenSans_light';
    color: #D9D9D9;
    margin-top: 10px;
}
.signin-bottom-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}
.signin-bottom-container {
    color: #D9D9D9;
    font-family: 'OpenSans_light';
    display: flex;
    align-items: center;
}
.signin-bottom-container>span {
    width: 130px;
    font-size: 11pt;
}
.signin-bottom-but-createAccount {
    color: #00A3FF;
}
.signin-bottom-but-confirm {
    width: 130px;
    border: none;
    outline: none;
    height: 35px;
    border-radius: 5px;
    font-size: 12pt;
    font-weight: lighter;
    font-family: 'OpenSans_light';
}