.loader {
  color: #55868C;
  position: relative;
  font-size: 11px;
  background: #55868C;
  animation: escaleY 1s infinite ease-in-out;
  width: 5px;
  height: 5px;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
  left: 10px;
  background: #55868C;
  width: 5px;
  height: 5px;
  animation: escaleY 1s infinite ease-in-out;
}
.loader:before {
  left: -10px;
  animation-delay: -0.32s;
}

@keyframes escaleY {
  0%, 80%, 100% {
    box-shadow: 0 0 #55868C;
    height: 4px;
    top: 0;
  }
  40% {
    box-shadow: 0 -15px #55868C;
    height: 15px;
    top: 5px;
  }
}